@import url("../../fonts.css");



.arial {
  font-family: Arial, Helvetica, sans-serif;
}

.times-new-roman {
  font-family: "Times New Roman", Times, serif;
}

.courier-new {
  font-family: "Courier New", Courier, monospace;
}

.profilePicture:hover {
  scale: 1.1;
}


/* Main Article Container */
.article-container {
  position: relative;
  margin: 0 auto;
  padding: 2rem;
  max-width: 800px;
  line-height: 1.8;
  transition: all 0.3s ease-in-out;
}

/* Stereoscopic Mode Overlay */
.article-container.stereoscopic-mode {
  /*background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(0, 255, 255, 0.1) 100%
  );*/
  transform: translateZ(0);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Toolbar */
.toolbar {
  font-family: "Poppins", Helvetica, sans-serif;
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f1f1f1;
  color: black;
  border-radius: 8px;
  font-size: 1rem;
  position: sticky;
}

.toolbar-sticky {
  top: 80px;
}

.toolbar label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toolbar select,
.toolbar input[type="checkbox"] {
  cursor: pointer;
}

/* Article Content */
.article-content {
  transition: all 0.3s ease-in-out;
}

.contrast-high {
  background-color: #000;
  color: #fff;
}

.contrast-low {
  background-color: #f9f9f9;
  color: #666;
}

/* Footer */
.article-footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author-info {
  display: inline-flex;
}

.publish-date {
  float: right;
}

.author-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.orbitViewText {
  text-shadow: -2px 0 #fe0604,
    /* Red shadow for left eye */ 2px 0 #1dffff; /* Cyan shadow for right eye */
}

.orbitViewTitle {
  text-shadow: -3px 0 #fe0604, 3px 0 #1dffff;
}

/* Hover interaction 
.orbitViewText:hover {
  text-shadow: 
    -4px 0 rgba(255, 0, 0, 1), 
     4px 0 rgba(0, 255, 255, 1);
}

.orbitViewSubtitle:hover {
  text-shadow: 
    -3px 0 rgba(255, 0, 0, 1), 
     3px 0 rgba(0, 255, 255, 1);
}
*/

.authorByName {
  font-size: 1.25rem;
}

.authorByName:hover {
  font-weight: bold;
}
