.landingHero {
  background: linear-gradient(
    165deg,
    #001f33,
    #040f16,
    #014486,
    /*#001a33, */ #606bff
  );
  background-size: 300% 300%;

  animation: gradientAnimation 6s ease infinite;
  padding-top: 75px;
  padding-bottom: 100px;
}

#landingHero {
  background: url("./orbitview_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.getStartedDiv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cool-page-div {
  position: relative;
  height: 10px;
  width: 100%;
  background: #9cacf5;
  overflow: hidden; /* This hides the overflow of the animated light */
}

.light-animation {
  position: absolute;
  height: 100%; /* Make it the same height as the parent */
  width: 20%; /* The width of the light effect */
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0)
  );
  animation: moveLight 2s linear infinite;
}

@keyframes moveLight {
  0% {
    left: -20%; /* Start off-screen on the left */
  }
  50% {
    left: 100%; /* Move to the right end */
  }
  100% {
    left: -20%; /* Reset back to start */
  }
}
