.article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}

.meta {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #666;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profileImage:hover {
  scale: 1.1;
}

.content {
  margin: 20px 0;
  color: #444;
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: #666;
  font-size: 0.9rem;
}

.loader,
.error {
  text-align: center;
  margin: 50px 0;
  font-size: 1.2rem;
  color: #333;
}

.authorByName:hover {
  font-weight: bold;
}

.immersive-button {
  padding: 20px 40px;
  background-color: #0e2c4b; /* Bootstrap primary blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.immersive-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.immersive-button:active {
  transform: translateY(1px); /* Slight "press" effect */
}
