.orbitview-navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.orbitview-navbar .orbitview-nav-link {
  float: left; /* in the future, the user can change this setting to left or right */
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.orbitview-navbar .orbitview-nav-link:hover {
  background: #f1f1f1;
  color: black;
}

.orbitview-navbar .orbitview-nav-link.active {
  background-color: #04aa6d;
  color: white;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}
