@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Helvetica, sans-serif;
  
}


main {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.contrast-normal {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.contrast-high {
  --bg-color: #000000;
  --text-color: #ffffff;
}

.contrast-low {
  --bg-color: #f0f0f0;
  --text-color: #333333;
}

/* Apply the variables to the root element */
html {
  background-color: var(--bg-color);
  color: var(--text-color);
}